.NavBar {
  align-content: space-between;
  background-color: #111;
  justify-content: center;
  position: absolute;
  user-select: none;
  flex-wrap: wrap;
  height: 100vh;
  display: flex;
  width: 70px;
  .navLinks {
    justify-content: center;
    display: flex;
    width: 100%;
    .linksContent {
      padding-bottom: 25px;
      flex-wrap: wrap;
      display: flex;
      gap: 20px;
      .link {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        &:hover svg {
          scale: 1.3;
        }
        .item {
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: ease-in-out 300ms;
          cursor: pointer;
        }
        .exit {
          background-color: red;
          border-radius: 100%;
        }
      }
    }
  }
}
