.CourseCard {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-rows: 40% calc(60% - 20px);
  gap: 20px;
  border-radius: 15px;
  background-color: #121629;
  padding: 10px;
  position: relative;
  transition: ease-in-out 400ms;

  &:hover .containerImgCourse img {
    scale: 1.2;
  }

  &:hover {
    scale: 1.04;
  }

  .containerImgCourse {
    width: 100%;
    border-radius: 10px;
    background-color: #b8c1ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;

    img {
      transition: ease-in-out 600ms;
    }
  }

  .InfoCourse {
    width: 100%;
    height: 100%;

    .TitleCourse {
      font-size: 20px;
      font-weight: bold;
    }

    .descripcion {
      color: #888;
      padding: -top 12px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .Tags {
      padding-top: 14px;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      span {
        font-size: 12px;
        border-radius: 5px;
        padding: 4px;
        color: #b8c1ec;
        background-color: #232957;
      }
    }

    .containerButtons {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 5px 0px;
      right: 0px;
      // background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: 17px;
        border-radius: 10px;
        background-color: #232946;
        padding: 8px 12px;
        width: 97%;
        height: 100%;
        transition: ease-in-out 300ms;
        &:hover {
          background-color: #1e2548;
        }
        &:active {
          scale: 0.96;
          background-color: #232957;
        }
      }
    }
  }
}
