@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 41, 70;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 254;
    --background-start-rgb: 35, 41, 70;
    --background-end-rgb: 35, 41, 70;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*::-webkit-scrollbar{
  display: none;
}
