$c: 'rgb(250,0,0)', #fa0000;
$c: 'rgb(242,13,13)', #f20d0d;
$c: 'rgb(230,26,26)', #e61a1a;
$c: 'rgb(217,38,38)', #d92626;
$c: 'rgb(204,51,51)', #cc3333;
$c: 'rgb(191,64,64)', #bf4040;
$c: 'rgb(179,77,77)', #b34d4d;
$c: 'rgb(166,89,89)', #a65959;
$c: 'rgb(153,102,102)', #996666;
$c: 'rgb(140,115,115)', #8c7373;
$c: 'rgb(255,89,9)', #ff5909;
$c: 'rgb(242,94,13)', #f25e0d;
$c: 'rgb(230,97,26)', #e6611a;
$c: 'rgb(217,101,38)', #d96526;
$c: 'rgb(204,105,51)', #cc6933;
$c: 'rgb(191,109,64)', #bf6d40;
$c: 'rgb(179,112,77)', #b3704d;
$c: 'rgb(166,116,89)', #a67459;
$c: 'rgb(153,120,102)', #997866;
$c: 'rgb(140,124,115)', #8c7c73;
$c: 'rgb(255,179,0)', #ffb300;
$c: 'rgb(242,175,13)', #f2af0d;
$c: 'rgb(230,169,26)', #e6a91a;
$c: 'rgb(217,164,38)', #d9a426;
$c: 'rgb(204,159,51)', #cc9f33;
$c: 'rgb(191,154,64)', #bf9a40;
$c: 'rgb(179,148,77)', #b3944d;
$c: 'rgb(166,143,89)', #a68f59;
$c: 'rgb(153,138,102)', #998a66;
$c: 'rgb(140,133,115)', #8c8573;
$c: 'rgb(242,255,0)', #f2ff00;
$c: 'rgb(229,242,13)', #e5f20d;
$c: 'rgb(218,230,26)', #dae61a;
$c: 'rgb(206,217,38)', #ced926;
$c: 'rgb(195,204,51)', #c3cc33;
$c: 'rgb(184,191,64)', #b8bf40;
$c: 'rgb(173,179,77)', #adb34d;
$c: 'rgb(161,166,89)', #a1a659;
$c: 'rgb(150,153,102)', #969966;
$c: 'rgb(139,140,115)', #8b8c73;
$c: 'rgb(149,255,0)', #95ff00;
$c: 'rgb(148,242,13)', #94f20d;
$c: 'rgb(146,230,26)', #92e61a;
$c: 'rgb(143,217,38)', #8fd926;
$c: 'rgb(141,204,51)', #8dcc33;
$c: 'rgb(139,191,64)', #8bbf40;
$c: 'rgb(137,179,77)', #89b34d;
$c: 'rgb(134,166,89)', #86a659;
$c: 'rgb(132,153,102)', #849966;
$c: 'rgb(130,140,115)', #828c73;
$c: 'rgb(59,255,0)', #3bff00;
$c: 'rgb(67,242,13)', #42f20d;
$c: 'rgb(74,230,26)', #49e619;
$c: 'rgb(80,217,38)', #50d926;
$c: 'rgb(87,204,51)', #57cc33;
$c: 'rgb(94,191,64)', #5dbf40;
$c: 'rgb(101,179,77)', #64b34d;
$c: 'rgb(107,166,89)', #6ba659;
$c: 'rgb(114,153,102)', #729966;
$c: 'rgb(121,140,115)', #798c73;
$c: 'rgb(0,255,30)', #00ff1e;
$c: 'rgb(13,242,40)', #0df228;
$c: 'rgb(26,230,49)', #19e631;
$c: 'rgb(38,217,59)', #26d93b;
$c: 'rgb(51,204,69)', #33cc45;
$c: 'rgb(64,191,79)', #40bf4f;
$c: 'rgb(77,179,88)', #4db357;
$c: 'rgb(89,166,98)', #59a662;
$c: 'rgb(102,153,108)', #66996c;
$c: 'rgb(115,140,118)', #738c76;
$c: 'rgb(0,255,119)', #00ff77;
$c: 'rgb(13,242,121)', #0df278;
$c: 'rgb(26,230,121)', #19e679;
$c: 'rgb(38,217,122)', #26d97a;
$c: 'rgb(51,204,123)', #33cc7a;
$c: 'rgb(64,191,124)', #40bf7b;
$c: 'rgb(77,179,124)', #4db37c;
$c: 'rgb(89,166,125)', #59a67d;
$c: 'rgb(102,153,126)', #66997e;
$c: 'rgb(115,140,127)', #738c7f;
$c: 'rgb(0,255,208)', #00ffd0;
$c: 'rgb(13,242,201)', #0df2c8;
$c: 'rgb(26,230,193)', #19e6c0;
$c: 'rgb(38,217,185)', #26d9b8;
$c: 'rgb(51,204,177)', #33ccb0;
$c: 'rgb(64,191,169)', #40bfaa;
$c: 'rgb(77,179,160)', #4db3a0;
$c: 'rgb(89,166,152)', #59a698;
$c: 'rgb(102,153,144)', #669990;
$c: 'rgb(115,140,136)', #738c88;
$c: 'rgb(0,212,255)', #00d4ff;
$c: 'rgb(13,202,242)', #0dccf2;
$c: 'rgb(26,194,230)', #19c0e6;
$c: 'rgb(38,185,217)', #26b8d9;
$c: 'rgb(51,177,204)', #33b0cc;
$c: 'rgb(64,169,191)', #40aabf;
$c: 'rgb(77,161,179)', #4da0b3;
$c: 'rgb(89,152,166)', #5998a6;
$c: 'rgb(102,144,153)', #669099;
$c: 'rgb(115,136,140)', #73888c;
$c: 'rgb(0,119,255)', #0077ff;
$c: 'rgb(13,121,242)', #0d78f2;
$c: 'rgb(26,122,230)', #1979e6;
$c: 'rgb(38,123,217)', #267ad9;
$c: 'rgb(51,123,204)', #337acc;
$c: 'rgb(64,124,191)', #407bbf;
$c: 'rgb(77,125,179)', #4d7cb3;
$c: 'rgb(89,125,166)', #597da6;
$c: 'rgb(102,126,153)', #667e99;
$c: 'rgb(115,127,140)', #737f8c;
$c: 'rgb(0,30,255)', #001eff;
$c: 'rgb(13,40,242)', #0d28f2;
$c: 'rgb(26,50,230)', #1931e6;
$c: 'rgb(38,60,217)', #263bd9;
$c: 'rgb(51,69,204)', #3345cc;
$c: 'rgb(64,79,191)', #404fbf;
$c: 'rgb(77,89,179)', #4d58b3;
$c: 'rgb(89,98,166)', #5962a6;
$c: 'rgb(102,108,153)', #666c99;
$c: 'rgb(115,118,140)', #73768c;
$c: 'rgb(60,0,255)', #3c00ff;
$c: 'rgb(66,13,242)', #420df2;
$c: 'rgb(73,26,230)', #4919e6;
$c: 'rgb(80,38,217)', #5026d9;
$c: 'rgb(87,51,204)', #5733cc;
$c: 'rgb(94,64,191)', #5e40bf;
$c: 'rgb(100,77,179)', #644db3;
$c: 'rgb(107,89,166)', #6b59a6;
$c: 'rgb(114,102,153)', #726699;
$c: 'rgb(121,115,140)', #79738c;
$c: 'rgb(149,0,255)', #9500ff;
$c: 'rgb(147,13,242)', #930df2;
$c: 'rgb(145,26,230)', #9019e6;
$c: 'rgb(143,38,217)', #8e26d9;
$c: 'rgb(141,51,204)', #8c33cc;
$c: 'rgb(139,64,191)', #8a40bf;
$c: 'rgb(136,77,179)', #884db3;
$c: 'rgb(134,89,166)', #8659a6;
$c: 'rgb(132,102,153)', #846699;
$c: 'rgb(130,115,140)', #82738c;
$c: 'rgb(238,0,255)', #ee00ff;
$c: 'rgb(228,13,242)', #e30df2;
$c: 'rgb(217,26,230)', #d819e6;
$c: 'rgb(206,38,217)', #cd26d9;
$c: 'rgb(195,51,204)', #c233cc;
$c: 'rgb(183,64,191)', #b740bf;
$c: 'rgb(172,77,179)', #ac4db3;
$c: 'rgb(161,89,166)', #a159a6;
$c: 'rgb(150,102,153)', #966699;
$c: 'rgb(139,115,140)', #8b738c;
$c: 'rgb(255,0,178)', #ff00b2;
$c: 'rgb(242,13,175)', #f20dad;
$c: 'rgb(230,26,170)', #e619a8;
$c: 'rgb(217,38,165)', #d926a6;
$c: 'rgb(204,51,159)', #cc339e;
$c: 'rgb(191,64,154)', #bf409b;
$c: 'rgb(179,77,149)', #b34d94;
$c: 'rgb(166,89,143)', #a6598f;
$c: 'rgb(153,102,138)', #99668a;
$c: 'rgb(140,115,133)', #8c7385;
$c: 'rgb(255,0,89)', #ff0059;
$c: 'rgb(242,13,94)', #f20d5d;
$c: 'rgb(230,26,98)', #e61961;
$c: 'rgb(217,38,102)', #d92665;
$c: 'rgb(204,51,105)', #cc3369;
$c: 'rgb(191,64,109)', #bf406c;
$c: 'rgb(179,77,113)', #b34d70;
$c: 'rgb(166,89,116)', #a65974;
$c: 'rgb(153,102,120)', #996678;
$c: 'rgb(140,115,124)', #8c737c;