$c: 'AliceBlue', #f0f8ff;
$c: 'AntiqueWhite', #faebd7;
$c: 'Aqua', #00ffff;
$c: 'Aquamarine', #7fffd4;
$c: 'Azure', #f0ffff;
$c: 'Beige', #f5f5dc;
$c: 'Bisque', #ffe4c4;
$c: 'Black', #000000;
$c: 'BlanchedAlmond', #ffebcd;
$c: 'Blue', #0000ff;
$c: 'BlueViolet', #8a2be2;
$c: 'Brown', #a52a2a;
$c: 'BurlyWood', #deb887;
$c: 'CadetBlue', #5f9ea0;
$c: 'Chartreuse', #7fff00;
$c: 'Chocolate', #d2691e;
$c: 'Coral', #ff7f50;
$c: 'CornflowerBlue', #6495ed;
$c: 'Cornsilk', #fff8dc;
$c: 'Crimson', #dc143c;
$c: 'Cyan', #00ffff;
$c: 'DarkBlue', #00008b;
$c: 'DarkCyan', #008b8b;
$c: 'DarkGoldenRod', #b8860b;
$c: 'DarkGray', #a9a9a9;
$c: 'DarkGrey', #a9a9a9;
$c: 'DarkGreen', #006400;
$c: 'DarkKhaki', #bdb76b;
$c: 'DarkMagenta', #8b008b;
$c: 'DarkOliveGreen', #556b2f;
$c: 'Darkorange', #ff8c00;
$c: 'DarkOrchid', #9932cc;
$c: 'DarkRed', #8b0000;
$c: 'DarkSalmon', #e9967a;
$c: 'DarkSeaGreen', #8fbc8f;
$c: 'DarkSlateBlue', #483d8b;
$c: 'DarkSlateGray', #2f4f4f;
$c: 'DarkSlateGrey', #2f4f4f;
$c: 'DarkTurquoise', #00ced1;
$c: 'DarkViolet', #9400d3;
$c: 'DeepPink', #ff1493;
$c: 'DeepSkyBlue', #00bfff;
$c: 'DimGray', #696969;
$c: 'DimGrey', #696969;
$c: 'DodgerBlue', #1e90ff;
$c: 'FireBrick', #b22222;
$c: 'FloralWhite', #fffaf0;
$c: 'ForestGreen', #228b22;
$c: 'Fuchsia', #ff00ff;
$c: 'Gainsboro', #dcdcdc;
$c: 'GhostWhite', #f8f8ff;
$c: 'Gold', #ffd700;
$c: 'GoldenRod', #daa520;
$c: 'Gray', #808080;
$c: 'Grey', #808080;
$c: 'Green', #008000;
$c: 'GreenYellow', #adff2f;
$c: 'HoneyDew', #f0fff0;
$c: 'HotPink', #ff69b4;
$c: 'IndianRed', #cd5c5c;
$c: 'Indigo', #4b0082;
$c: 'Ivory', #fffff0;
$c: 'Khaki', #f0e68c;
$c: 'Lavender', #e6e6fa;
$c: 'LavenderBlush', #fff0f5;
$c: 'LawnGreen', #7cfc00;
$c: 'LemonChiffon', #fffacd;
$c: 'LightBlue', #add8e6;
$c: 'LightCoral', #f08080;
$c: 'LightCyan', #e0ffff;
$c: 'LightGoldenRodYellow', #fafad2;
$c: 'LightGray', #d3d3d3;
$c: 'LightGrey', #d3d3d3;
$c: 'LightGreen', #90ee90;
$c: 'LightPink', #ffb6c1;
$c: 'LightSalmon', #ffa07a;
$c: 'LightSeaGreen', #20b2aa;
$c: 'LightSkyBlue', #87cefa;
$c: 'LightSlateGray', #778899;
$c: 'LightSlateGrey', #778899;
$c: 'LightSteelBlue', #b0c4de;
$c: 'LightYellow', #ffffe0;
$c: 'Lime', #00ff00;
$c: 'LimeGreen', #32cd32;
$c: 'Linen', #faf0e6;
$c: 'Magenta', #ff00ff;
$c: 'Maroon', #800000;
$c: 'MediumAquaMarine', #66cdaa;
$c: 'MediumBlue', #0000cd;
$c: 'MediumOrchid', #ba55d3;
$c: 'MediumPurple', #9370d8;
$c: 'MediumSeaGreen', #3cb371;
$c: 'MediumSlateBlue', #7b68ee;
$c: 'MediumSpringGreen', #00fa9a;
$c: 'MediumTurquoise', #48d1cc;
$c: 'MediumVioletRed', #c71585;
$c: 'MidnightBlue', #191970;
$c: 'MintCream', #f5fffa;
$c: 'MistyRose', #ffe4e1;
$c: 'Moccasin', #ffe4b5;
$c: 'NavajoWhite', #ffdead;
$c: 'Navy', #000080;
$c: 'OldLace', #fdf5e6;
$c: 'Olive', #808000;
$c: 'OliveDrab', #6b8e23;
$c: 'Orange', #ffa500;
$c: 'OrangeRed', #ff4500;
$c: 'Orchid', #da70d6;
$c: 'PaleGoldenRod', #eee8aa;
$c: 'PaleGreen', #98fb98;
$c: 'PaleTurquoise', #afeeee;
$c: 'PaleVioletRed', #d87093;
$c: 'PapayaWhip', #ffefd5;
$c: 'PeachPuff', #ffdab9;
$c: 'Peru', #cd853f;
$c: 'Pink', #ffc0cb;
$c: 'Plum', #dda0dd;
$c: 'PowderBlue', #b0e0e6;
$c: 'Purple', #800080;
$c: 'RebeccaPurple', #663399;
$c: 'Red', #ff0000;
$c: 'RosyBrown', #bc8f8f;
$c: 'RoyalBlue', #4169e1;
$c: 'SaddleBrown', #8b4513;
$c: 'Salmon', #fa8072;
$c: 'SandyBrown', #f4a460;
$c: 'SeaGreen', #2e8b57;
$c: 'SeaShell', #fff5ee;
$c: 'Sienna', #a0522d;
$c: 'Silver', #c0c0c0;
$c: 'SkyBlue', #87ceeb;
$c: 'SlateBlue', #6a5acd;
$c: 'SlateGray', #708090;
$c: 'SlateGrey', #708090;
$c: 'Snow', #fffafa;
$c: 'SpringGreen', #00ff7f;
$c: 'SteelBlue', #4682b4;
$c: 'Tan', #d2b48c;
$c: 'Teal', #008080;
$c: 'Thistle', #d8bfd8;
$c: 'Tomato', #ff6347;
$c: 'Turquoise', #40e0d0;
$c: 'Violet', #ee82ee;
$c: 'Wheat', #f5deb3;
$c: 'White', #ffffff;
$c: 'WhiteSmoke', #f5f5f5;
$c: 'Yellow', #ffff00;
$c: 'YellowGreen', #9acd32;