$c: 'Snow', #fffafa;
$c: 'GhostWhite', #f8f8ff;
$c: 'WhiteSmoke', #f5f5f5;
$c: 'Gainsboro', #dcdcdc;
$c: 'FloralWhite', #fffaf0;
$c: 'OldLace', #fdf5e6;
$c: 'Linen', #faf0e6;
$c: 'AntiqueWhite', #faebd7;
$c: 'PapayaWhip', #ffefd5;
$c: 'BlanchedAlmond', #ffebcd;
$c: 'Bisque', #ffe4c4;
$c: 'PeachPuff', #ffdab9;
$c: 'NavajoWhite', #ffdead;
$c: 'moccasin', #ffe4b5;
$c: 'Cornsilk', #fff8dc;
$c: 'Ivory', #fffff0;
$c: 'LemonChiffon', #fffacd;
$c: 'Seashell', #fff5ee;
$c: 'Honeydew', #f0fff0;
$c: 'MintCream', #f5fffa;
$c: 'Azure', #f0ffff;
$c: 'AliceBlue', #f0f8ff;
$c: 'Lavender', #e6e6fa;
$c: 'LavenderBlush', #fff0f5;
$c: 'MistyRose', #ffe4e1;
$c: 'White', #ffffff;
$c: 'Black', #000000;
$c: 'DarkSlateGray', #2f4f4f;
$c: 'DarkSlateGrey', #2f4f4f;
$c: 'DimGray', #696969;
$c: 'DimGrey', #696969;
$c: 'SlateGray', #708090;
$c: 'SlateGrey', #708090;
$c: 'LightSlateGray', #778899;
$c: 'LightSlateGrey', #778899;
$c: 'DarkGrey', #a9a9a9;
$c: 'DarkGray', #a9a9a9;
$c: 'Gray', #bebebe;
$c: 'Grey', #bebebe;
$c: 'LightGrey', #d3d3d3;
$c: 'LightGray', #d3d3d3;
$c: 'MidnightBlue', #191970;
$c: 'DarkBlue', #00008b;
$c: 'Navy', #000080;
$c: 'NavyBlue', #000080;
$c: 'CornflowerBlue', #6495ed;
$c: 'DarkSlateBlue', #483d8b;
$c: 'SlateBlue', #6a5acd;
$c: 'MediumSlateBlue', #7b68ee;
$c: 'LightSlateBlue', #8470ff;
$c: 'MediumBlue', #0000cd;
$c: 'RoyalBlue', #4169e1;
$c: 'Blue', #0000ff;
$c: 'DodgerBlue', #1e90ff;
$c: 'DeepSkyBlue', #00bfff;
$c: 'SkyBlue', #87ceeb;
$c: 'LightSkyBlue', #87cefa;
$c: 'SteelBlue', #4682b4;
$c: 'LightSteelBlue', #b0c4de;
$c: 'LightBlue', #add8e6;
$c: 'PowderBlue', #b0e0e6;
$c: 'PaleTurquoise', #afeeee;
$c: 'DarkTurquoise', #00ced1;
$c: 'MediumTurquoise', #48d1cc;
$c: 'Turquoise', #40e0d0;
$c: 'DarkCyan', #008b8b;
$c: 'Cyan', #00ffff;
$c: 'LightCyan', #e0ffff;
$c: 'CadetBlue', #5f9ea0;
$c: 'MediumAquamarine', #66cdaa;
$c: 'Aquamarine', #7fffd4;
$c: 'DarkGreen', #006400;
$c: 'DarkOliveGreen', #556b2f;
$c: 'DarkSeaGreen', #8fbc8f;
$c: 'SeaGreen', #2e8b57;
$c: 'MediumSeaGreen', #3cb371;
$c: 'PaleGreen', #98fb98;
$c: 'SpringGreen', #00ff7f;
$c: 'LawnGreen', #7cfc00;
$c: 'Green', #00ff00;
$c: 'Chartreuse', #7fff00;
$c: 'MediumSpringGreen', #00fa9a;
$c: 'LightGreen', #90ee90;
$c: 'GreenYellow', #adff2f;
$c: 'LimeGreen', #32cd32;
$c: 'YellowGreen', #9acd32;
$c: 'ForestGreen', #228b22;
$c: 'OliveDrab', #6b8e23;
$c: 'DarkKhaki', #bdb76b;
$c: 'Khaki', #f0e68c;
$c: 'PaleGoldenrod', #eee8aa;
$c: 'LightGoldenrodYellow', #fafad2;
$c: 'LightYellow', #ffffe0;
$c: 'Yellow', #ffff00;
$c: 'Gold', #ffd700;
$c: 'LightGoldenrod', #eedd82;
$c: 'Goldenrod', #daa520;
$c: 'DarkGoldenrod', #b8860b;
$c: 'RosyBrown', #bc8f8f;
$c: 'IndianRed', #cd5c5c;
$c: 'SaddleBrown', #8b4513;
$c: 'Sienna', #a0522d;
$c: 'Peru', #cd853f;
$c: 'Burlywood', #deb887;
$c: 'Beige', #f5f5dc;
$c: 'Wheat', #f5deb3;
$c: 'SandyBrown', #f4a460;
$c: 'Tan', #d2b48c;
$c: 'Chocolate', #d2691e;
$c: 'Firebrick', #b22222;
$c: 'Brown', #a52a2a;
$c: 'DarkSalmon', #e9967a;
$c: 'Salmon', #fa8072;
$c: 'LightSalmon', #ffa07a;
$c: 'Orange', #ffa500;
$c: 'DarkOrange', #ff8c00;
$c: 'Coral', #ff7f50;
$c: 'LightCoral', #f08080;
$c: 'Tomato', #ff6347;
$c: 'OrangeRed', #ff4500;
$c: 'Red', #ff0000;
$c: 'DarkRed', #8b0000;
$c: 'HotPink', #ff69b4;
$c: 'DeepPink', #ff1493;
$c: 'Pink', #ffc0cb;
$c: 'LightPink', #ffb6c1;
$c: 'PaleVioletRed', #db7093;
$c: 'Maroon', #b03060;
$c: 'MediumVioletRed', #c71585;
$c: 'VioletRed', #d02090;
$c: 'DarkMagenta', #8b008b;
$c: 'Magenta', #ff00ff;
$c: 'Violet', #ee82ee;
$c: 'Plum', #dda0dd;
$c: 'Orchid', #da70d6;
$c: 'MediumOrchid', #ba55d3;
$c: 'DarkOrchid', #9932cc;
$c: 'DarkViolet', #9400d3;
$c: 'BlueViolet', #8a2be2;
$c: 'Purple', #a020f0;
$c: 'MediumPurple', #9370db;
$c: 'Thistle', #d8bfd8;
$c: 'Snow1', #fffafa;
$c: 'Snow2', #eee9e9;
$c: 'Snow3', #cdc9c9;
$c: 'Snow4', #8b8989;
$c: 'Seashell1', #fff5ee;
$c: 'Seashell2', #eee5de;
$c: 'Seashell3', #cdc5bf;
$c: 'Seashell4', #8b8682;
$c: 'AntiqueWhite1', #ffefdb;
$c: 'AntiqueWhite2', #eedfcc;
$c: 'AntiqueWhite3', #cdc0b0;
$c: 'AntiqueWhite4', #8b8378;
$c: 'Bisque1', #ffe4c4;
$c: 'Bisque2', #eed5b7;
$c: 'Bisque3', #cdb79e;
$c: 'Bisque4', #8b7d6b;
$c: 'PeachPuff1', #ffdab9;
$c: 'PeachPuff2', #eecbad;
$c: 'PeachPuff3', #cdaf95;
$c: 'PeachPuff4', #8b7765;
$c: 'NavajoWhite1', #ffdead;
$c: 'NavajoWhite2', #eecfa1;
$c: 'NavajoWhite3', #cdb38b;
$c: 'NavajoWhite4', #8b795e;
$c: 'LemonChiffon1', #fffacd;
$c: 'LemonChiffon2', #eee9bf;
$c: 'LemonChiffon3', #cdc9a5;
$c: 'LemonChiffon4', #8b8970;
$c: 'Cornsilk1', #fff8dc;
$c: 'Cornsilk2', #eee8cd;
$c: 'Cornsilk3', #cdc8b1;
$c: 'Cornsilk4', #8b8878;
$c: 'Ivory1', #fffff0;
$c: 'Ivory2', #eeeee0;
$c: 'Ivory3', #cdcdc1;
$c: 'Ivory4', #8b8b83;
$c: 'Honeydew1', #f0fff0;
$c: 'Honeydew2', #e0eee0;
$c: 'Honeydew3', #c1cdc1;
$c: 'Honeydew4', #838b83;
$c: 'LavenderBlush1', #fff0f5;
$c: 'LavenderBlush2', #eee0e5;
$c: 'LavenderBlush3', #cdc1c5;
$c: 'LavenderBlush4', #8b8386;
$c: 'MistyRose1', #ffe4e1;
$c: 'MistyRose2', #eed5d2;
$c: 'MistyRose3', #cdb7b5;
$c: 'MistyRose4', #8b7d7b;
$c: 'Azure1', #f0ffff;
$c: 'Azure2', #e0eeee;
$c: 'Azure3', #c1cdcd;
$c: 'Azure4', #838b8b;
$c: 'SlateBlue1', #836fff;
$c: 'SlateBlue2', #7a67ee;
$c: 'SlateBlue3', #6959cd;
$c: 'SlateBlue4', #473c8b;
$c: 'RoyalBlue1', #4876ff;
$c: 'RoyalBlue2', #436eee;
$c: 'RoyalBlue3', #3a5fcd;
$c: 'RoyalBlue4', #27408b;
$c: 'Blue1', #0000ff;
$c: 'Blue2', #0000ee;
$c: 'Blue3', #0000cd;
$c: 'Blue4', #00008b;
$c: 'DodgerBlue1', #1e90ff;
$c: 'DodgerBlue2', #1c86ee;
$c: 'DodgerBlue3', #1874cd;
$c: 'DodgerBlue4', #104e8b;
$c: 'SteelBlue1', #63b8ff;
$c: 'SteelBlue2', #5cacee;
$c: 'SteelBlue3', #4f94cd;
$c: 'SteelBlue4', #36648b;
$c: 'DeepSkyBlue1', #00bfff;
$c: 'DeepSkyBlue2', #00b2ee;
$c: 'DeepSkyBlue3', #009acd;
$c: 'DeepSkyBlue4', #00688b;
$c: 'SkyBlue1', #87ceff;
$c: 'SkyBlue2', #7ec0ee;
$c: 'SkyBlue3', #6ca6cd;
$c: 'SkyBlue4', #4a708b;
$c: 'LightSkyBlue1', #b0e2ff;
$c: 'LightSkyBlue2', #a4d3ee;
$c: 'LightSkyBlue3', #8db6cd;
$c: 'LightSkyBlue4', #607b8b;
$c: 'SlateGray1', #c6e2ff;
$c: 'SlateGray2', #b9d3ee;
$c: 'SlateGray3', #9fb6cd;
$c: 'SlateGray4', #6c7b8b;
$c: 'LightSteelBlue1', #cae1ff;
$c: 'LightSteelBlue2', #bcd2ee;
$c: 'LightSteelBlue3', #a2b5cd;
$c: 'LightSteelBlue4', #6e7b8b;
$c: 'LightBlue1', #bfefff;
$c: 'LightBlue2', #b2dfee;
$c: 'LightBlue3', #9ac0cd;
$c: 'LightBlue4', #68838b;
$c: 'LightCyan1', #e0ffff;
$c: 'LightCyan2', #d1eeee;
$c: 'LightCyan3', #b4cdcd;
$c: 'LightCyan4', #7a8b8b;
$c: 'PaleTurquoise1', #bbffff;
$c: 'PaleTurquoise2', #aeeeee;
$c: 'PaleTurquoise3', #96cdcd;
$c: 'PaleTurquoise4', #668b8b;
$c: 'CadetBlue1', #98f5ff;
$c: 'CadetBlue2', #8ee5ee;
$c: 'CadetBlue3', #7ac5cd;
$c: 'CadetBlue4', #53868b;
$c: 'Turquoise1', #00f5ff;
$c: 'Turquoise2', #00e5ee;
$c: 'Turquoise3', #00c5cd;
$c: 'Turquoise4', #00868b;
$c: 'Cyan1', #00ffff;
$c: 'Cyan2', #00eeee;
$c: 'Cyan3', #00cdcd;
$c: 'Cyan4', #008b8b;
$c: 'DarkSlateGray1', #97ffff;
$c: 'DarkSlateGray2', #8deeee;
$c: 'DarkSlateGray3', #79cdcd;
$c: 'DarkSlateGray4', #528b8b;
$c: 'Aquamarine1', #7fffd4;
$c: 'Aquamarine2', #76eec6;
$c: 'Aquamarine3', #66cdaa;
$c: 'Aquamarine4', #458b74;
$c: 'DarkSeaGreen1', #c1ffc1;
$c: 'DarkSeaGreen2', #b4eeb4;
$c: 'DarkSeaGreen3', #9bcd9b;
$c: 'DarkSeaGreen4', #698b69;
$c: 'SeaGreen1', #54ff9f;
$c: 'SeaGreen2', #4eee94;
$c: 'SeaGreen3', #43cd80;
$c: 'SeaGreen4', #2e8b57;
$c: 'PaleGreen1', #9aff9a;
$c: 'PaleGreen2', #90ee90;
$c: 'PaleGreen3', #7ccd7c;
$c: 'PaleGreen4', #548b54;
$c: 'SpringGreen1', #00ff7f;
$c: 'SpringGreen2', #00ee76;
$c: 'SpringGreen3', #00cd66;
$c: 'SpringGreen4', #008b45;
$c: 'Green1', #00ff00;
$c: 'Green2', #00ee00;
$c: 'Green3', #00cd00;
$c: 'Green4', #008b00;
$c: 'Chartreuse1', #7fff00;
$c: 'Chartreuse2', #76ee00;
$c: 'Chartreuse3', #66cd00;
$c: 'Chartreuse4', #458b00;
$c: 'OliveDrab1', #c0ff3e;
$c: 'OliveDrab2', #b3ee3a;
$c: 'OliveDrab3', #9acd32;
$c: 'OliveDrab4', #698b22;
$c: 'DarkOliveGreen1', #caff70;
$c: 'DarkOliveGreen2', #bcee68;
$c: 'DarkOliveGreen3', #a2cd5a;
$c: 'DarkOliveGreen4', #6e8b3d;
$c: 'Khaki1', #fff68f;
$c: 'Khaki2', #eee685;
$c: 'Khaki3', #cdc673;
$c: 'Khaki4', #8b864e;
$c: 'LightGoldenrod1', #ffec8b;
$c: 'LightGoldenrod2', #eedc82;
$c: 'LightGoldenrod3', #cdbe70;
$c: 'LightGoldenrod4', #8b814c;
$c: 'LightYellow1', #ffffe0;
$c: 'LightYellow2', #eeeed1;
$c: 'LightYellow3', #cdcdb4;
$c: 'LightYellow4', #8b8b7a;
$c: 'Yellow1', #ffff00;
$c: 'Yellow2', #eeee00;
$c: 'Yellow3', #cdcd00;
$c: 'Yellow4', #8b8b00;
$c: 'Gold1', #ffd700;
$c: 'Gold2', #eec900;
$c: 'Gold3', #cdad00;
$c: 'Gold4', #8b7500;
$c: 'Goldenrod1', #ffc125;
$c: 'Goldenrod2', #eeb422;
$c: 'Goldenrod3', #cd9b1d;
$c: 'Goldenrod4', #8b6914;
$c: 'DarkGoldenrod1', #ffb90f;
$c: 'DarkGoldenrod2', #eead0e;
$c: 'DarkGoldenrod3', #cd950c;
$c: 'DarkGoldenrod4', #8b6508;
$c: 'RosyBrown1', #ffc1c1;
$c: 'RosyBrown2', #eeb4b4;
$c: 'RosyBrown3', #cd9b9b;
$c: 'RosyBrown4', #8b6969;
$c: 'IndianRed1', #ff6a6a;
$c: 'IndianRed2', #ee6363;
$c: 'IndianRed3', #cd5555;
$c: 'IndianRed4', #8b3a3a;
$c: 'Sienna1', #ff8247;
$c: 'Sienna2', #ee7942;
$c: 'Sienna3', #cd6839;
$c: 'Sienna4', #8b4726;
$c: 'Burlywood1', #ffd39b;
$c: 'Burlywood2', #eec591;
$c: 'Burlywood3', #cdaa7d;
$c: 'Burlywood4', #8b7355;
$c: 'Wheat1', #ffe7ba;
$c: 'Wheat2', #eed8ae;
$c: 'Wheat3', #cdba96;
$c: 'Wheat4', #8b7e66;
$c: 'Tan1', #ffa54f;
$c: 'Tan2', #ee9a49;
$c: 'Tan3', #cd853f;
$c: 'Tan4', #8b5a2b;
$c: 'Chocolate1', #ff7f24;
$c: 'Chocolate2', #ee7621;
$c: 'Chocolate3', #cd661d;
$c: 'Chocolate4', #8b4513;
$c: 'Firebrick1', #ff3030;
$c: 'Firebrick2', #ee2c2c;
$c: 'Firebrick3', #cd2626;
$c: 'Firebrick4', #8b1a1a;
$c: 'Brown1', #ff4040;
$c: 'Brown2', #ee3b3b;
$c: 'Brown3', #cd3333;
$c: 'Brown4', #8b2323;
$c: 'Salmon1', #ff8c69;
$c: 'Salmon2', #ee8262;
$c: 'Salmon3', #cd7054;
$c: 'Salmon4', #8b4c39;
$c: 'LightSalmon1', #ffa07a;
$c: 'LightSalmon2', #ee9572;
$c: 'LightSalmon3', #cd8162;
$c: 'LightSalmon4', #8b5742;
$c: 'Orange1', #ffa500;
$c: 'Orange2', #ee9a00;
$c: 'Orange3', #cd8500;
$c: 'Orange4', #8b5a00;
$c: 'DarkOrange1', #ff7f00;
$c: 'DarkOrange2', #ee7600;
$c: 'DarkOrange3', #cd6600;
$c: 'DarkOrange4', #8b4500;
$c: 'Coral1', #ff7256;
$c: 'Coral2', #ee6a50;
$c: 'Coral3', #cd5b45;
$c: 'Coral4', #8b3e2f;
$c: 'Tomato1', #ff6347;
$c: 'Tomato2', #ee5c42;
$c: 'Tomato3', #cd4f39;
$c: 'Tomato4', #8b3626;
$c: 'OrangeRed1', #ff4500;
$c: 'OrangeRed2', #ee4000;
$c: 'OrangeRed3', #cd3700;
$c: 'OrangeRed4', #8b2500;
$c: 'Red1', #ff0000;
$c: 'Red2', #ee0000;
$c: 'Red3', #cd0000;
$c: 'Red4', #8b0000;
$c: 'DeepPink1', #ff1493;
$c: 'DeepPink2', #ee1289;
$c: 'DeepPink3', #cd1076;
$c: 'DeepPink4', #8b0a50;
$c: 'HotPink1', #ff6eb4;
$c: 'HotPink2', #ee6aa7;
$c: 'HotPink3', #cd6090;
$c: 'HotPink4', #8b3a62;
$c: 'Pink1', #ffb5c5;
$c: 'Pink2', #eea9b8;
$c: 'Pink3', #cd919e;
$c: 'Pink4', #8b636c;
$c: 'LightPink1', #ffaeb9;
$c: 'LightPink2', #eea2ad;
$c: 'LightPink3', #cd8c95;
$c: 'LightPink4', #8b5f65;
$c: 'PaleVioletRed1', #ff82ab;
$c: 'PaleVioletRed2', #ee799f;
$c: 'PaleVioletRed3', #cd6889;
$c: 'PaleVioletRed4', #8b475d;
$c: 'Maroon1', #ff34b3;
$c: 'Maroon2', #ee30a7;
$c: 'Maroon3', #cd2990;
$c: 'Maroon4', #8b1c62;
$c: 'VioletRed1', #ff3e96;
$c: 'VioletRed2', #ee3a8c;
$c: 'VioletRed3', #cd3278;
$c: 'VioletRed4', #8b2252;
$c: 'Magenta1', #ff00ff;
$c: 'Magenta2', #ee00ee;
$c: 'Magenta3', #cd00cd;
$c: 'Magenta4', #8b008b;
$c: 'Orchid1', #ff83fa;
$c: 'Orchid2', #ee7ae9;
$c: 'Orchid3', #cd69ca;
$c: 'Orchid4', #8b4789;
$c: 'Plum1', #ffbbff;
$c: 'Plum2', #eeaeee;
$c: 'Plum3', #cd96cd;
$c: 'Plum4', #8b668b;
$c: 'MediumOrchid1', #e066ff;
$c: 'MediumOrchid2', #d15fee;
$c: 'MediumOrchid3', #b452cd;
$c: 'MediumOrchid4', #7a378b;
$c: 'DarkOrchid1', #bf3eff;
$c: 'DarkOrchid2', #b23aee;
$c: 'DarkOrchid3', #9a32cd;
$c: 'DarkOrchid4', #68228b;
$c: 'Purple1', #9b30ff;
$c: 'Purple2', #912cee;
$c: 'Purple3', #7d26cd;
$c: 'Purple4', #551a8b;
$c: 'MediumPurple1', #ab82ff;
$c: 'MediumPurple2', #9f79ee;
$c: 'MediumPurple3', #8968cd;
$c: 'MediumPurple4', #5d478b;
$c: 'Thistle1', #ffe1ff;
$c: 'Thistle2', #eed2ee;
$c: 'Thistle3', #cdb5cd;
$c: 'Thistle4', #8b7b8b;
$c: 'Gray0', #000000;
$c: 'Grey0', #000000;
$c: 'Gray1', #030303;
$c: 'Grey1', #030303;
$c: 'Gray2', #050505;
$c: 'Grey2', #050505;
$c: 'Gray3', #080808;
$c: 'Grey3', #080808;
$c: 'Gray4', #0a0a0a;
$c: 'Grey4', #0a0a0a;
$c: 'Gray5', #0d0d0d;
$c: 'Grey5', #0d0d0d;
$c: 'Gray6', #0f0f0f;
$c: 'Grey6', #0f0f0f;
$c: 'Gray7', #121212;
$c: 'Grey7', #121212;
$c: 'Gray8', #141414;
$c: 'Grey8', #141414;
$c: 'Gray9', #171717;
$c: 'Grey9', #171717;
$c: 'Gray10', #1a1a1a;
$c: 'Grey10', #1a1a1a;
$c: 'Gray11', #1c1c1c;
$c: 'Grey11', #1c1c1c;
$c: 'Gray12', #1f1f1f;
$c: 'Grey12', #1f1f1f;
$c: 'Gray13', #212121;
$c: 'Grey13', #212121;
$c: 'Gray14', #242424;
$c: 'Grey14', #242424;
$c: 'Gray15', #262626;
$c: 'Grey15', #262626;
$c: 'Gray16', #292929;
$c: 'Grey16', #292929;
$c: 'Gray17', #2b2b2b;
$c: 'Grey17', #2b2b2b;
$c: 'Gray18', #2e2e2e;
$c: 'Grey18', #2e2e2e;
$c: 'Gray19', #303030;
$c: 'Grey19', #303030;
$c: 'Gray20', #333333;
$c: 'Grey20', #333333;
$c: 'Gray21', #363636;
$c: 'Grey21', #363636;
$c: 'Gray22', #383838;
$c: 'Grey22', #383838;
$c: 'Gray23', #3b3b3b;
$c: 'Grey23', #3b3b3b;
$c: 'Gray24', #3d3d3d;
$c: 'Grey24', #3d3d3d;
$c: 'Gray25', #404040;
$c: 'Grey25', #404040;
$c: 'Gray26', #424242;
$c: 'Grey26', #424242;
$c: 'Gray27', #454545;
$c: 'Grey27', #454545;
$c: 'Gray28', #474747;
$c: 'Grey28', #474747;
$c: 'Gray29', #4a4a4a;
$c: 'Grey29', #4a4a4a;
$c: 'Gray30', #4d4d4d;
$c: 'Grey30', #4d4d4d;
$c: 'Gray31', #4f4f4f;
$c: 'Grey31', #4f4f4f;
$c: 'Gray32', #525252;
$c: 'Grey32', #525252;
$c: 'Gray33', #545454;
$c: 'Grey33', #545454;
$c: 'Gray34', #575757;
$c: 'Grey34', #575757;
$c: 'Gray35', #595959;
$c: 'Grey35', #595959;
$c: 'Gray36', #5c5c5c;
$c: 'Grey36', #5c5c5c;
$c: 'Gray37', #5e5e5e;
$c: 'Grey37', #5e5e5e;
$c: 'Gray38', #616161;
$c: 'Grey38', #616161;
$c: 'Gray39', #636363;
$c: 'Grey39', #636363;
$c: 'Gray40', #666666;
$c: 'Grey40', #666666;
$c: 'Gray41', #696969;
$c: 'Grey41', #696969;
$c: 'Gray42', #6b6b6b;
$c: 'Grey42', #6b6b6b;
$c: 'Gray43', #6e6e6e;
$c: 'Grey43', #6e6e6e;
$c: 'Gray44', #707070;
$c: 'Grey44', #707070;
$c: 'Gray45', #737373;
$c: 'Grey45', #737373;
$c: 'Gray46', #757575;
$c: 'Grey46', #757575;
$c: 'Gray47', #787878;
$c: 'Grey47', #787878;
$c: 'Gray48', #7a7a7a;
$c: 'Grey48', #7a7a7a;
$c: 'Gray49', #7d7d7d;
$c: 'Grey49', #7d7d7d;
$c: 'Gray50', #7f7f7f;
$c: 'Grey50', #7f7f7f;
$c: 'Gray51', #828282;
$c: 'Grey51', #828282;
$c: 'Gray52', #858585;
$c: 'Grey52', #858585;
$c: 'Gray53', #878787;
$c: 'Grey53', #878787;
$c: 'Gray54', #8a8a8a;
$c: 'Grey54', #8a8a8a;
$c: 'Gray55', #8c8c8c;
$c: 'Grey55', #8c8c8c;
$c: 'Gray56', #8f8f8f;
$c: 'Grey56', #8f8f8f;
$c: 'Gray57', #919191;
$c: 'Grey57', #919191;
$c: 'Gray58', #949494;
$c: 'Grey58', #949494;
$c: 'Gray59', #969696;
$c: 'Grey59', #969696;
$c: 'Gray60', #999999;
$c: 'Grey60', #999999;
$c: 'Gray61', #9c9c9c;
$c: 'Grey61', #9c9c9c;
$c: 'Gray62', #9e9e9e;
$c: 'Grey62', #9e9e9e;
$c: 'Gray63', #a1a1a1;
$c: 'Grey63', #a1a1a1;
$c: 'Gray64', #a3a3a3;
$c: 'Grey64', #a3a3a3;
$c: 'Gray65', #a6a6a6;
$c: 'Grey65', #a6a6a6;
$c: 'Gray66', #a8a8a8;
$c: 'Grey66', #a8a8a8;
$c: 'Gray67', #ababab;
$c: 'Grey67', #ababab;
$c: 'Gray68', #adadad;
$c: 'Grey68', #adadad;
$c: 'Gray69', #b0b0b0;
$c: 'Grey69', #b0b0b0;
$c: 'Gray70', #b3b3b3;
$c: 'Grey70', #b3b3b3;
$c: 'Gray71', #b5b5b5;
$c: 'Grey71', #b5b5b5;
$c: 'Gray72', #b8b8b8;
$c: 'Grey72', #b8b8b8;
$c: 'Gray73', #bababa;
$c: 'Grey73', #bababa;
$c: 'Gray74', #bdbdbd;
$c: 'Grey74', #bdbdbd;
$c: 'Gray75', #bfbfbf;
$c: 'Grey75', #bfbfbf;
$c: 'Gray76', #c2c2c2;
$c: 'Grey76', #c2c2c2;
$c: 'Gray77', #c4c4c4;
$c: 'Grey77', #c4c4c4;
$c: 'Gray78', #c7c7c7;
$c: 'Grey78', #c7c7c7;
$c: 'Gray79', #c9c9c9;
$c: 'Grey79', #c9c9c9;
$c: 'Gray80', #cccccc;
$c: 'Grey80', #cccccc;
$c: 'Gray81', #cfcfcf;
$c: 'Grey81', #cfcfcf;
$c: 'Gray82', #d1d1d1;
$c: 'Grey82', #d1d1d1;
$c: 'Gray83', #d4d4d4;
$c: 'Grey83', #d4d4d4;
$c: 'Gray84', #d6d6d6;
$c: 'Grey84', #d6d6d6;
$c: 'Gray85', #d9d9d9;
$c: 'Grey85', #d9d9d9;
$c: 'Gray86', #dbdbdb;
$c: 'Grey86', #dbdbdb;
$c: 'Gray87', #dedede;
$c: 'Grey87', #dedede;
$c: 'Gray88', #e0e0e0;
$c: 'Grey88', #e0e0e0;
$c: 'Gray89', #e3e3e3;
$c: 'Grey89', #e3e3e3;
$c: 'Gray90', #e5e5e5;
$c: 'Grey90', #e5e5e5;
$c: 'Gray91', #e8e8e8;
$c: 'Grey91', #e8e8e8;
$c: 'Gray92', #ebebeb;
$c: 'Grey92', #ebebeb;
$c: 'Gray93', #ededed;
$c: 'Grey93', #ededed;
$c: 'Gray94', #f0f0f0;
$c: 'Grey94', #f0f0f0;
$c: 'Gray95', #f2f2f2;
$c: 'Grey95', #f2f2f2;
$c: 'Gray96', #f5f5f5;
$c: 'Grey96', #f5f5f5;
$c: 'Gray97', #f7f7f7;
$c: 'Grey97', #f7f7f7;
$c: 'Gray98', #fafafa;
$c: 'Grey98', #fafafa;
$c: 'Gray99', #fcfcfc;
$c: 'Grey99', #fcfcfc;
$c: 'Gray100', #ffffff;
$c: 'Grey100', #ffffff;