$c: 'rgb(255, 255, 255)', #ffffff;
$c: 'rgb(0, 0, 0)', #000000;
$c: 'rgb(4, 0, 3)', #050004;
$c: 'rgb(9, 0, 7)', #0a0008;
$c: 'rgb(13, 0, 10)', #0f000c;
$c: 'rgb(18, 0, 14)', #140010;
$c: 'rgb(22, 0, 19)', #140012;
$c: 'rgb(27, 0, 23)', #1a0016;
$c: 'rgb(31, 0, 28)', #1f001c;
$c: 'rgb(36, 0, 32)', #240020;
$c: 'rgb(40, 0, 38)', #290027;
$c: 'rgb(45, 0, 43)', #2e002c;
$c: 'rgb(50, 0, 48)', #330031;
$c: 'rgb(58, 0, 59)', #3c003d;
$c: 'rgb(64, 0, 68)', #3e0042;
$c: 'rgb(68, 0, 72)', #440047;
$c: 'rgb(69, 0, 77)', #45004d;
$c: 'rgb(72, 0, 81)', #480052;
$c: 'rgb(74, 0, 86)', #4b0057;
$c: 'rgb(77, 0, 91)', #4e005c;
$c: 'rgb(79, 0, 95)', #510061;
$c: 'rgb(80, 0, 100)', #520066;
$c: 'rgb(82, 0, 104)', #500066;
$c: 'rgb(83, 0, 109)', #52006b;
$c: 'rgb(84, 0, 118)', #540075;
$c: 'rgb(86, 0, 122)', #56007a;
$c: 'rgb(88, 0, 132)', #580085;
$c: 'rgb(86, 0, 136)', #57008a;
$c: 'rgb(87, 0, 141)', #58008f;
$c: 'rgb(87, 0, 145)', #56008f;
$c: 'rgb(87, 0, 150)', #560094;
$c: 'rgb(85, 0, 154)', #540099;
$c: 'rgb(84, 0, 159)', #54009e;
$c: 'rgb(84, 0, 163)', #5400a3;
$c: 'rgb(84, 0, 168)', #5400a8;
$c: 'rgb(79, 0, 177)', #5000b3;
$c: 'rgb(78, 0, 182)', #5000b8;
$c: 'rgb(77, 0, 186)', #4c00b8;
$c: 'rgb(76, 0, 191)', #4b00bd;
$c: 'rgb(70, 0, 200)', #4600c7;
$c: 'rgb(68, 0, 204)', #4400cc;
$c: 'rgb(66, 0, 209)', #4200d1;
$c: 'rgb(60, 0, 214)', #3d00d6;
$c: 'rgb(58, 0, 218)', #3a00db;
$c: 'rgb(55, 0, 223)', #3800e0;
$c: 'rgb(46, 0, 232)', #2e00e6;
$c: 'rgb(43, 0, 236)', #2b00eb;
$c: 'rgb(40, 0, 241)', #2800f0;
$c: 'rgb(36, 0, 245)', #2500f5;
$c: 'rgb(33, 0, 250)', #2100fa;
$c: 'rgb(25, 0, 255)', #1900ff;
$c: 'rgb(16, 0, 255)', #1100ff;
$c: 'rgb(12, 0, 255)', #0d00ff;
$c: 'rgb(4, 0, 255)', #0400ff;
$c: 'rgb(0, 0, 255)', #0000ff;
$c: 'rgb(0, 4, 255)', #0004ff;
$c: 'rgb(0, 16, 255)', #0011ff;
$c: 'rgb(0, 21, 255)', #0015ff;
$c: 'rgb(0, 25, 255)', #0019ff;
$c: 'rgb(0, 29, 255)', #001eff;
$c: 'rgb(0, 38, 255)', #0026ff;
$c: 'rgb(0, 42, 255)', #002bff;
$c: 'rgb(0, 46, 255)', #002fff;
$c: 'rgb(0, 51, 255)', #0033ff;
$c: 'rgb(0, 63, 255)', #0040ff;
$c: 'rgb(0, 67, 255)', #0044ff;
$c: 'rgb(0, 72, 255)', #0048ff;
$c: 'rgb(0, 84, 255)', #0055ff;
$c: 'rgb(0, 89, 255)', #0059ff;
$c: 'rgb(0, 93, 255)', #005eff;
$c: 'rgb(0, 97, 255)', #0062ff;
$c: 'rgb(0, 106, 255)', #006aff;
$c: 'rgb(0, 110, 255)', #006eff;
$c: 'rgb(0, 114, 255)', #0073ff;
$c: 'rgb(0, 119, 255)', #0077ff;
$c: 'rgb(0, 127, 255)', #007fff;
$c: 'rgb(0, 135, 255)', #0088ff;
$c: 'rgb(0, 140, 255)', #008cff;
$c: 'rgb(0, 152, 255)', #0099ff;
$c: 'rgb(0, 157, 255)', #009dff;
$c: 'rgb(0, 161, 255)', #00a1ff;
$c: 'rgb(0, 165, 255)', #00a6ff;
$c: 'rgb(0, 174, 255)', #00aeff;
$c: 'rgb(0, 178, 255)', #00b2ff;
$c: 'rgb(0, 182, 255)', #00b7ff;
$c: 'rgb(0, 187, 255)', #00bbff;
$c: 'rgb(0, 195, 255)', #00c3ff;
$c: 'rgb(0, 199, 255)', #00c8ff;
$c: 'rgb(0, 216, 255)', #00d9ff;
$c: 'rgb(0, 220, 255)', #00ddff;
$c: 'rgb(0, 225, 255)', #00e1ff;
$c: 'rgb(0, 229, 255)', #00e5ff;
$c: 'rgb(0, 233, 255)', #00eaff;
$c: 'rgb(0, 242, 255)', #00f2ff;
$c: 'rgb(0, 246, 255)', #00f6ff;
$c: 'rgb(0, 250, 255)', #00fbff;
$c: 'rgb(0, 255, 255)', #00ffff;
$c: 'rgb(0, 255, 246)', #00fff7;
$c: 'rgb(0, 255, 242)', #00fff2;
$c: 'rgb(0, 255, 238)', #00ffee;
$c: 'rgb(0, 255, 225)', #00ffe1;
$c: 'rgb(0, 255, 216)', #00ffd9;
$c: 'rgb(0, 255, 212)', #00ffd5;
$c: 'rgb(0, 255, 203)', #00ffcc;
$c: 'rgb(0, 255, 199)', #00ffc8;
$c: 'rgb(0, 255, 195)', #00ffc4;
$c: 'rgb(0, 255, 191)', #00ffbf;
$c: 'rgb(0, 255, 187)', #00ffbb;
$c: 'rgb(0, 255, 178)', #00ffb3;
$c: 'rgb(0, 255, 174)', #00ffae;
$c: 'rgb(0, 255, 170)', #00ffaa;
$c: 'rgb(0, 255, 157)', #00ff9d;
$c: 'rgb(0, 255, 152)', #00ff99;
$c: 'rgb(0, 255, 144)', #00ff91;
$c: 'rgb(0, 255, 135)', #00ff88;
$c: 'rgb(0, 255, 131)', #00ff84;
$c: 'rgb(0, 255, 127)', #00ff80;
$c: 'rgb(0, 255, 123)', #00ff7b;
$c: 'rgb(0, 255, 114)', #00ff73;
$c: 'rgb(0, 255, 110)', #00ff6f;
$c: 'rgb(0, 255, 106)', #00ff6a;
$c: 'rgb(0, 255, 102)', #00ff66;
$c: 'rgb(0, 255, 89)', #00ff59;
$c: 'rgb(0, 255, 84)', #00ff55;
$c: 'rgb(0, 255, 80)', #00ff51;
$c: 'rgb(0, 255, 76)', #00ff4d;
$c: 'rgb(0, 255, 63)', #00ff40;
$c: 'rgb(0, 255, 59)', #00ff3c;
$c: 'rgb(0, 255, 55)', #00ff37;
$c: 'rgb(0, 255, 46)', #00ff2f;
$c: 'rgb(0, 255, 42)', #00ff2b;
$c: 'rgb(0, 255, 38)', #00ff26;
$c: 'rgb(0, 255, 25)', #00ff19;
$c: 'rgb(0, 255, 21)', #00ff15;
$c: 'rgb(0, 255, 16)', #00ff11;
$c: 'rgb(0, 255, 12)', #00ff0d;
$c: 'rgb(0, 255, 8)', #00ff09;
$c: 'rgb(0, 255, 0)', #00ff00;
$c: 'rgb(8, 255, 0)', #08ff00;
$c: 'rgb(12, 255, 0)', #0dff00;
$c: 'rgb(21, 255, 0)', #15ff00;
$c: 'rgb(25, 255, 0)', #1aff00;
$c: 'rgb(29, 255, 0)', #1eff00;
$c: 'rgb(42, 255, 0)', #2bff00;
$c: 'rgb(46, 255, 0)', #2fff00;
$c: 'rgb(51, 255, 0)', #33ff00;
$c: 'rgb(55, 255, 0)', #37ff00;
$c: 'rgb(63, 255, 0)', #40ff00;
$c: 'rgb(67, 255, 0)', #44ff00;
$c: 'rgb(72, 255, 0)', #48ff00;
$c: 'rgb(76, 255, 0)', #4cff00;
$c: 'rgb(89, 255, 0)', #59ff00;
$c: 'rgb(93, 255, 0)', #5eff00;
$c: 'rgb(97, 255, 0)', #62ff00;
$c: 'rgb(110, 255, 0)', #6eff00;
$c: 'rgb(114, 255, 0)', #73ff00;
$c: 'rgb(119, 255, 0)', #77ff00;
$c: 'rgb(123, 255, 0)', #7bff00;
$c: 'rgb(131, 255, 0)', #84ff00;
$c: 'rgb(135, 255, 0)', #88ff00;
$c: 'rgb(140, 255, 0)', #8cff00;
$c: 'rgb(144, 255, 0)', #91ff00;
$c: 'rgb(153, 255, 0)', #99ff00;
$c: 'rgb(161, 255, 0)', #a1ff00;
$c: 'rgb(165, 255, 0)', #a6ff00;
$c: 'rgb(178, 255, 0)', #b2ff00;
$c: 'rgb(182, 255, 0)', #b7ff00;
$c: 'rgb(187, 255, 0)', #bbff00;
$c: 'rgb(191, 255, 0)', #bfff00;
$c: 'rgb(199, 255, 0)', #c8ff00;
$c: 'rgb(203, 255, 0)', #ccff00;
$c: 'rgb(208, 255, 0)', #d0ff00;
$c: 'rgb(212, 255, 0)', #d4ff00;
$c: 'rgb(221, 255, 0)', #ddff00;
$c: 'rgb(225, 255, 0)', #e1ff00;
$c: 'rgb(242, 255, 0)', #f2ff00;
$c: 'rgb(246, 255, 0)', #f6ff00;
$c: 'rgb(250, 255, 0)', #fbff00;
$c: 'rgb(255, 255, 0)', #ffff00;
$c: 'rgb(255, 250, 0)', #fffb00;
$c: 'rgb(255, 242, 0)', #fff200;
$c: 'rgb(255, 238, 0)', #ffee00;
$c: 'rgb(255, 233, 0)', #ffea00;
$c: 'rgb(255, 229, 0)', #ffe500;
$c: 'rgb(255, 221, 0)', #ffdd00;
$c: 'rgb(255, 216, 0)', #ffd900;
$c: 'rgb(255, 212, 0)', #ffd500;
$c: 'rgb(255, 199, 0)', #ffc800;
$c: 'rgb(255, 191, 0)', #ffbf00;
$c: 'rgb(255, 187, 0)', #ffbb00;
$c: 'rgb(255, 178, 0)', #ffb300;
$c: 'rgb(255, 174, 0)', #ffae00;
$c: 'rgb(255, 170, 0)', #ffaa00;
$c: 'rgb(255, 165, 0)', #ffa600;
$c: 'rgb(255, 161, 0)', #ffa200;
$c: 'rgb(255, 153, 0)', #ff9900;
$c: 'rgb(255, 148, 0)', #ff9500;
$c: 'rgb(255, 144, 0)', #ff9100;
$c: 'rgb(255, 131, 0)', #ff8400;
$c: 'rgb(255, 127, 0)', #ff8000;
$c: 'rgb(255, 119, 0)', #ff7700;
$c: 'rgb(255, 110, 0)', #ff6e00;
$c: 'rgb(255, 106, 0)', #ff6a00;
$c: 'rgb(255, 102, 0)', #ff6600;
$c: 'rgb(255, 97, 0)', #ff6200;
$c: 'rgb(255, 89, 0)', #ff5900;
$c: 'rgb(255, 85, 0)', #ff5500;
$c: 'rgb(255, 80, 0)', #ff5100;
$c: 'rgb(255, 76, 0)', #ff4d00;
$c: 'rgb(255, 63, 0)', #ff4000;
$c: 'rgb(255, 59, 0)', #ff3c00;
$c: 'rgb(255, 55, 0)', #ff3700;
$c: 'rgb(255, 51, 0)', #ff3300;
$c: 'rgb(255, 38, 0)', #ff2600;
$c: 'rgb(255, 34, 0)', #ff2200;
$c: 'rgb(255, 29, 0)', #ff1e00;
$c: 'rgb(255, 21, 0)', #ff1500;
$c: 'rgb(255, 17, 0)', #ff1100;
$c: 'rgb(255, 12, 0)', #ff0d00;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;
$c: 'rgb(255, 0, 0)', #ff0000;